@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300&family=Lexend&family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&family=Nunito+Sans&family=PT+Sans&display=swap');

* { box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    
     }

     .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #b80a3e;
    height: 150px;
    color: #fff;
    padding: 5px 5%;
    position: fixed;
  
  width: 100%;
  z-index: 20;
  border-bottom: solid black 3px;
    
  }

  .header h2{
    pointer-events: none;
    font-size: 50px;
    
    
  }

  
  .header .logo{
    cursor: pointer;
  }

  
  
  .header .logo img{
    height: 100px;
    border-radius: 15%;
    transition: all 0.3s;
  }

  .header .logo img:hover{
    transform: scale(1.2);
    }

    main{
    padding-top: 150px;
    height: 100%;
    
    width: 80%;
    margin: 0 auto;
    
      
    }

    .encima{
      position: absolute;
      width: 1500px;
      top: 0px;
      left: 50%;
      transform: translateX(-50%);
      z-index: 5;
    }

    body{
      background-color: rgba(200,110,84,255);
      
    }
    main h2{
      text-align: center;
    }

    .intro{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 700px;
      max-width: auto;
    }

    .cono{
      
      max-width: auto;
      max-height: 73%;
      object-fit: contain;
    }

    .adivina {
      margin-top: 50px;
      font-size: 30px;
      }
    
    .imagen1{

      height: 90%;
    }

   


    

    .principio{
      
      display: grid;
      width: 80%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      
      grid-gap: 5px;
      margin-top: 50px;
      margin: 0 auto;
      background-color: #b80a3e;
      border-radius: 20px;
      padding: 10px;
      
      
    }



    .left {
      display: flex;
      align-items: center;
    }

    .left img {
      max-width: 100%;
      height: auto;
      width: 100%;
    }

    .right {
      display: grid;
      grid-template-rows: 1fr 1fr; /* Dos filas de igual tamaño */
      gap: 10px; /* Espacio entre elementos */
    }

    .top {
      display: flex;
      align-items: center;
    }

    .bottom {
      display: flex;
      align-items:center;
    }

    .bottom iframe {
      max-width: auto;
      height: 100%;
      width: 100%;
    }


    .Nleft {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .Nleft img {
      max-width: 80%;
      height: auto;
      width: 100%;
    }

    .center{
      display: flex;
      align-items: center;
    }
    .center audio{
     
    }


    .Nright{
      display: flex;
      align-items: center;
      justify-content:center;
    }

    .Nright img {
      max-width: 90%;
      height: auto;
      width: 100%;
    }

    


    

    .imagen1{
      display: flex;
      margin: 0 auto;
      justify-content: center;
    }

    .imagen1 img{

      width: 800px;
      height: auto;
      margin: 0 auto;
      
    }
    .regalo{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-gap: 5px;
      align-items: center;
      justify-items: center;
      margin: 20px auto;
      background-color: #285a92;
      border-radius: 20px;
      
      


    }

    

    p{
      text-align: justify;
      font-size: 19px;

    }
    
    
    main h1{
      text-align: center;
      font-size: 60px;
      
       font-family: 'Lexend', sans-serif;
       
    }

    

       .cumple {
      
      width: 400px;
      height: 50px;
      grid-column: 2 / 3;
      
      
    }

    

    

    .final{
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
      
      background-color: #b80a3e;
      border-radius: 20px;
      margin-top: 20px;
      width: 90%;
      margin: 10px auto;
      justify-content: center;
    }

    .izquierda{
      display: grid;
      grid-template-rows: 1fr 1fr 1fr;
      
      gap: 2px;
      
    }

    .izquierdaup{
      display: flex;
      align-items: flex-end;
      justify-content: center;
    }
    .izquierdaup img{
      max-width: 70%;
      height: auto;
      width: 100%;
      
    }

    .enmedio{
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .enmedio audio{
      max-width: 70%;
  height: 45px;
  width: 100%;
    }

    .izquierdadown{
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }

    .izquierdadown img{
      max-width: 70%;
      height: auto;
      width: 100%;
    }

    .derecha{
      display: flex;
  align-items: center;

    }

    .derecha img{
      max-width: 80%;
  height: auto;
  width: 100%;
    }





    

    



    footer {
        background-color: #333;
        color: #fff;
        padding: 10px;
        text-align: center;
        width: 100%;
      }

      img{
        border-radius: 20px;
      }

      

    


