@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@500&family=Nunito+Sans&family=PT+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');

* { box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Nunito Sans', sans-serif;
    
  }
  
  /* Barra de navegación */
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #b80a3e;
    height: 120px;
    color: #fff;
    padding: 5px 10%;
    position: fixed;
    z-index: 5;
    
  
  width: 100%;
    
  }
  .header h2{
    pointer-events: none;
    font-size: 50px;
    
  }

  
  .header .logo{
    cursor: pointer;
  }

  
  
  .header .logo img{
    height: 80px;
    border-radius: 15%;
    transition: all 0.3s;
  }

  .header .logo img:hover{
    transform: scale(1.2);
  }
  
  nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  nav ul li {
    display:inline-block;
    margin: 0 20px;
    transition: all 0.2s;
  }
  nav ul li:hover{
    transform: scale(1.2);
  }

  nav ul li a {
    font-size: 21px;
    color: #fff;
    text-decoration: none;

  }

  nav ul li a:hover{
    color: rgb(106, 3, 3);
    font-weight:600;
  }
  
  /* Cuerpo */
  body{
    background-color: rgb(4, 252, 128);
    
    
  }

  .decoracion{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    
    
  }

  .decoracion1{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    
    
    
  }
  .decoracion1 img{
    rotate: 90deg;
    max-width: 100%;
      height: auto;
      width: 100%;
      clip-path: inset(0 0 10% 0);

  }

  .center{
    display: flex;
    align-items: center;

  }

  .center img{
    max-width: 100%;
    height: auto;
    width: 100%;
  }

  

  .decoracion2{
    display: flex;
    align-items: center;
    
    

  }

  .decoracion2 img{
    rotate: -90deg;
    max-width: 100%;
      height: auto;
      width: 100%;
      clip-path: inset(0 0 10% 0);

  }

  

 section{
    padding-top: 125px;
    width: 70%;
    height: 100%;

    margin: 0 auto;
    
    
    
 }

 main h1{
  font-weight:400;
  font-family: 'Sacramento', cursive;
  margin: 8px 0 30px 0;
  text-align: justify;
  font-size: 3.2em
 }



  


 section img{

  width: 400px;
  display: block;
  margin: 0 auto;
  
  margin-bottom: 50px;
  
  

 }

 main p{
  font-size: 20px;
  font-weight: 400;
  line-height: 1.5em;
  text-align: justify;
  
  
 }
  /* Pie de página */
  footer {
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: center;
  }

  .barra{
    width: 85%;
    height: 1px;
    border: #3e3737 solid 1px;
    margin: 0 0 30px 90px;
    display: block;
    
  }

  .gif{
    width: 100%;
    background-color: #fcfefc;
  }







  







  
  
  
